/*! CSS Used from: http://127.0.0.1:5500/Webpages/Wraient%20-%20Dev%20Page/home.css */
*,
::after,
::before {
    box-sizing: border-box;
}

nav {
    display: block;
}

.contact-links{
    margin:10px;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: rgb(222 235 249);
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

img {
    vertical-align: middle;
    border-style: none;
}

button {
    border-radius: 0;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

button {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    overflow: visible;
}

button {
    text-transform: none;
}

button,
html [type=button] {
    -webkit-appearance: button;
}

[type=button]::-moz-focus-inner,
button::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

hr {
    /* margin-top: 1rem;
    margin-bottom: 1rem; */
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0;
}

.form-control::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control::-moz-placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control::-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control:disabled {
    background-color: #e9ecef;
    opacity: 1;
}

html{
    width:100%;
    scroll-behavior: smooth;
}

.intro-here{
    margin-top: 20rem;
    margin-bottom: 20rem;
    width: 100%;
}

#intro-name {
    /* margin-top: 15rem; */
    font-weight: 500;
    width: 100%;
    color: rgb(64, 64, 72);
    font-size: 3rem;
    text-align: center;
}

#intro-description {
    display: block;
    margin-bottom: 2%;
    text-align: center;
    width: 100%;
    font-size: 2.5rem;
    font-weight: 300;
}

#divider {
    margin-top:0;
    margin-bottom: 0;
    width: 75%;
}

#contacts-links-are-here {
    margin-top: 1%;
    text-align: center;
    scroll-margin-top:300px;
}

#projects-are-here{
    scroll-margin-top:50px;
    background-color: rgb(215 228 250);
    padding-bottom: 15rem;
}

.main-title {
    display: block;
    /* background: rgb(215 228 250); */
    padding-left: 1rem;
    margin-bottom: 50px;
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: 100px;
    font-size: 50px;

}

.project-title{
    margin-top:5%;
    margin-bottom:5%;

    font-weight: 999;
    font-size: 25px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    /* background-color: dodgerblue; */
    /* margin-top: 5%; */
    /* margin-bottom: 5%; */
    justify-content: center;
    /* margin-left:1%;
    margin-right:1%; */
    width:100%;
}

.flex-box{
    /* border:1px solid black; */
    margin-top:50px;
    /* height: 400px; */
    background-color: white;
    width:430px;
    border-radius: 20px;
    padding: 15px;
    margin:4%;
    overflow: auto;
    padding-top:15px;
    padding-bottom:20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* padding:5px; */
    /* width:400px; */
    /* height: 80%; */
}

#age{
    display:inline-block;
}

#end-of-page{
    margin-top: 0;
    margin-bottom: 0;
}

.end-credits{
    margin-top: 10rem;
    margin-bottom: 10rem;
    font-size: large;
    font-weight: 400;
    text-align: center;
}

#skills-are-here{
    scroll-margin-top:50px;
    padding-bottom: 15rem;
    padding-bottom: 10rem;
}

/* #scroll-gif{
    padding-right:1px;
} */

/* .goto-end{
    background-color: #0056b3;
    border: 2px solid black;
    border-radius: 200px;
    position: fixed;
    height:50px;
    width:50px;
    bottom: 10px;
    right: 20px;

} */

#about-is-here{
    scroll-margin-top:50px;
    width:100%;
    background-color: rgb(215 228 250);
    /* margin: 5%; */
    padding-bottom: 15rem;
    align-items: center;
}

.about-box{
    height: 100%;
    width:90%;
    border-radius: 20px;
    margin-top:50px;
    margin-left: 5%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top:30px;
    padding-bottom:30px;
    text-align: center;
    overflow: auto;
    font-weight: 400;
    font-size: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-inline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (min-width:576px) {
    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
}

@media (max-width:1333px){
    .main-title{
        padding-left: 0rem;
        margin-bottom: 50px;
        padding-top: 2%;
        padding-bottom: 1%;
        padding-left: 0px;
        text-align: center;
    }
}

.collapse {
    display: none;
}

.dropdown {
    position: relative;
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.dropdown-toggle:empty::after {
    margin-left: 0;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}

.dropdown-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
}

.dropdown-item:disabled {
    color: #6c757d;
    background-color: transparent;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
}

.nav-link:focus,
.nav-link:hover {
    text-decoration: none;
}

.navbar {
    position: fixed;
    top:0;
    width:100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-brand:focus,
.navbar-brand:hover {
    text-decoration: none;
}

.navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
    text-decoration: none;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

#Wraient-Nav-Bar {
    font-size: x-large;
}

#navbar-size {
    font-size: large;
}

@media (min-width:535px) {
    .navbar-expand-lg {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .navbar-expand-lg .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }

    .navbar-expand-lg .navbar-collapse {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }

    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
}

.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, .9);
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: rgba(0, 0, 0, .9);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, .5);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0, 0, 0, .7);
}

.navbar-light .navbar-nav .active>.nav-link {
    color: rgba(0, 0, 0, .9);
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .5);
    border-color: rgba(0, 0, 0, .1);
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.bg-light {
    background-color: rgb(255 255 255) !important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
}

.my-2 {
    margin-top: .5rem !important;
}

.my-2 {
    margin-bottom: .5rem !important;
}

.mr-auto {
    margin-right: auto !important;
}

@media (min-width:576px) {
    .mr-sm-2 {
        margin-right: .5rem !important;
    }
}

@media (min-width:535px) {
    .my-lg-0 {
        margin-top: 0 !important;
    }

    .my-lg-0 {
        margin-bottom: 0 !important;
    }
}

@media print {

    *,
    ::after,
    ::before {
        text-shadow: none !important;
        box-shadow: none !important;
    }

    a:not(.btn) {
        text-decoration: underline;
    }

    img {
        page-break-inside: avoid;
    }

    body {
        min-width: 535px !important;
    }

    .navbar {
        display: none;
    }
}
